{% extends "layout.html" %}
{% block container %}

<div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default">

    <a href="{{ url_for('alumnos.agregar') }}"
        class="text-white bg-brand hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium rounded-base text-sm px-4 py-2.5 focus:outline-none">
        Nuevo Alumno
    </a>

    <br><br>

    <table class="w-full text-sm text-left text-body">
        <thead class="text-sm bg-neutral-secondary-soft border-b border-default">
            <tr>
                <th class="px-6 py-3">NOMBRE</th>
                <th class="px-6 py-3">APELLIDOS</th>
                <th class="px-6 py-3">CORREO</th>
                <th class="px-6 py-3">TELEFONO</th>
                <th class="px-6 py-3">EDITAR</th>
                <th class="px-6 py-3">DETALLES</th>
                <th class="px-6 py-3">ELIMINAR</th>
                <th class="px-6 py-3">CONSULTAR CURSOS</th>
            </tr>
        </thead>
        <tbody>
            {% for alum in alumno %}
            <tr class="border-b hover:bg-neutral-secondary-soft">
                <td class="px-6 py-4">{{ alum.nombre }}</td>
                <td class="px-6 py-4">{{ alum.apellidos }}</td>
                <td class="px-6 py-4">{{ alum.email }}</td>
                <td class="px-6 py-4">{{ alum.telefono }}</td>

                <td class="px-6 py-4">
                    <a href="{{ url_for('alumnos.modificar', id=alum.id) }}"
                        class="text-white bg-success hover:bg-success-strong focus:ring-4 focus:ring-success-medium shadow-xs font-medium rounded-base text-sm px-4 py-2.5">
                        Editar
                    </a>
                </td>

                <td class="px-6 py-4">
                    <a href="{{ url_for('alumnos.detalles', id=alum.id) }}"
                        class="text-white bg-warning hover:bg-warning-strong focus:ring-4 focus:ring-warning-medium shadow-xs font-medium rounded-base text-sm px-4 py-2.5">
                        Detalles
                    </a>
                </td>

                <td class="px-6 py-4">
                    <a href="{{ url_for('alumnos.eliminar', id=alum.id) }}"
                        class="text-white bg-danger hover:bg-danger-strong focus:ring-4 focus:ring-danger-medium shadow-xs font-medium rounded-base text-sm px-4 py-2.5">
                        Eliminar
                    </a>
                </td>

                <td class="px-6 py-4">
                    <a href="{{ url_for('cursos.consultarAlumnoCursos', buscar=1, alumno_id=alum.id) }}"
                        class="text-white bg-warning hover:bg-warning-strong focus:ring-4 focus:ring-warning-medium shadow-xs font-medium rounded-base text-sm px-4 py-2.5">
                        Consultar
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}