{% extends "layout.html" %}
{% block container %}
{% import "_macros.html" as macros %}

<div class="min-h-screen flex items-center justify-center bg-gray-50">
    <div class="w-full max-w-md bg-white shadow-lg rounded-2xl p-8">
        <form action="" method="POST" novalidate>
            {{form.csrf_token}}
            <input type="hidden" name="csrf_token" value="{{ csrf_token()}}" />
            <div class="mb-5">
                {{ macros.campoNuevo(form.id,
                class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-400 focus:outline-none") }}
            </div>
            <div class="mb-5">
                {{ macros.campoNuevo(form.nombre,
                class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-400 focus:outline-none") }}
            </div>
            <div class="mb-5">
                {{ macros.campoNuevo(form.apaterno,
                class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-400 focus:outline-none") }}
            </div>
            <div class="mb-6">
                {{ macros.campoNuevo(form.email,
                class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-400 focus:outline-none") }}
            </div>
            <div class="grid md:grid-cols-2 md:gap-6">
                <input type="submit" id="btn1" name="btn1" value="Modificar"
                    class="text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none" />
            </div>
            <br>
            <a href="index"
                class="text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">Cancelar</a>
        </form>
    </div>
</div>
< {% endblock %}